body {
  font-size: 10pt;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  width: 50px;
  height: 100%;
}
.nav > ul {
  margin: auto;
}

.content {
  width: calc(100% - 49px);
}

.MuiSvgIcon-root {
  color:rgba(255, 255, 255, 0.6);
}

.MuiSvgIcon-root:hover {
  color:rgba(255, 255, 255, 0.9);
}

.income { 
  color: #30A000;
}

.expense {
  color: #A03000;
}