body {
  font-size: 10pt;
}

#root {
  background: rgba(0, 0, 0, 0.13);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  width: 50px;
  height: 100%;
  box-shadow: 5px 0px 10px RGBA(0,0,0,0.1);
  background: white;
}
.nav > ul {
  margin: auto;
}

.content {
  width: calc(100% - 50px);
  display: inline-block;
  height: 100%;
}
.pages {
  margin: 15px 15px 0 15px;
  background: white;
  box-shadow: 5px 0px 10px RGBA(0,0,0,0.1);
  height: calc(100% - 55px);
  overflow: hidden;
}

.page-content {
  margin: 15px;
  height: 100%;
}

.income { 
  color: #30A000;
}

.expense {
  color: #A03000;
}