.tableContainer {
    height: 100%
}

.tableHeaderRow {
    text-transform: capitalize;
}

.tableHeaderRow > th {
    border-color: rgba(255, 255, 255, 0.4);
    font-size: 10pt;
    padding: 10pt;
}

.tableBody tr > td {
  
  border-color: rgba(255, 255, 255, 0.4);
  font-size: 10pt;
  padding: 10pt;
}
